# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Logs & Uploads
logs/*.log
logs/*.csv
logs/*.json
static/uploads/*
!static/uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
